@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0d1117;
  --card-dark: #161b22;
  --border-dark: #30363d;
  --text-dark: #c9d1d9;
}

/* make sure page is fully dark */
html, body, #root {
  background-color: var(--bg-dark) !important;
  color: var(--text-dark) !important;
  min-height: 100%;
}
